* {
    box-sizing: border-box;
    
}

body {
    
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    
    
}

#homeContainer {
    background-color: #00A6C6;
    width: 100%;
    
}

#home {
    width: 1140px;
    text-align: end;
    background-color: #00A6C6;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    padding: 8px;
    
}

#phone {
    margin-left: 7px;
    margin-right: 7px;
    font-weight: normal;
}

#phone:hover {
    text-decoration: underline;
}

#homeIcone {
    position: relative; 
    top: 7px;
}

#homeIcon:hover {
    
    cursor: pointer;
}

#home>span {
    margin-left: 7px;
    margin-right: 7px;
}

#logoStretchContainer {
    background-color: #424244;
    width: 100%;
    
}
#logoContainer {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: white;
    
}

#logo{
    margin: 5px;
    
}
#logo:hover {
    cursor: pointer;
}

#title {
    min-width: 700px;
    font-size: 40px;
    font-weight: normal;
    padding: 10px 0 0 15px;
    
}

#buttons {
    display: flex;
    flex-direction: column;
    margin: 3px 0 0 40px;
    
}

#patient {
    border-radius: 20px;
    background-color: inherit;
    color: white;
    border: 2px solid white;
    font-size: 13px;
    margin-top: 5px;
    padding: 5px 10px 3px 10px;
}

#patient:hover {
    background-color: #00A6C6;
    border: 2px solid #00A6C6;;
}

#appointment {
    border-radius: 20px;
    background-color: red;
    color: white;
    border: 2px solid white;
    font-size: 13px;
    margin-top: 5px;
    padding: 5px 0 3px 10px;
}

#appointment:hover {
    background-color: #00A6C6;
    border: 2px solid #00A6C6;;
}

#menuTabContainer {
    width: 100%;
    height: 50px;
    background-color: #72BE58;
    
}

#menuTab {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 1140px;
    height: 30px;
    font-size: 15px;
    font-weight: lighter;
    margin: auto;
    color: white;
    
}

#menuTab>div:hover {
    background-color: #00A6C6;
    cursor: pointer;
}

#menuTab>div {
    height: 35px;
    padding: 5px 15px 10px;
}

#mainImage {
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    
}

#imageText {
    position: absolute;
    max-width: 700px;
    color: #C60033;
    font-size: 55px;
    font-weight: bolder;
    text-shadow: 5px 5px 10px white, -5px -5px 10px white, 5px -5px 10px white, -5px 5px 10px white;
    top: 600px;
    left: 100px;
}


#recognition {
    display: flex;
    flex-direction: column;
}
#recognitionTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

#recognitionText {
    text-align: center;
    width: 170px;
}
#recognitionBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}


#welcomeContainer {
    display: flex;
    flex-direction: column;
    background-color: #67BD4A;
}

#welcomeHeader {
    text-align: center;
    color: #A0C36D;
    font-size: 25px;
    margin: 50px 0 40px;
}
#welcomeText {
    width: 1100px;
    margin: 0 auto;
    color: white;
    font-size: 15px;
    margin-bottom: 100px;
}


#NAcontainer {
    display: flex;
    flex-direction: column;
    background-color: #836E97;
    color: white;
}

#NAheader {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#NAmainContainer {
    width: 1100px;
    margin: 0 auto;
}

#NAmain {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
    row-gap: 30px;
    column-gap: 100px;

}

#NAmain>div>strong {
    font-size: 20px;
}

#NAmain>div>strong:hover {
    text-decoration: underline;
    cursor: pointer;
}

#allNewsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#allNews {
    font-size: 20px;
    border: 2px white solid;
    border-radius: 20px;
    width: auto;
    padding: 2px 100px;
    margin: 10px 0 40px 0;
}

#allNews:hover {
    cursor: pointer;
    border: 2px #00A6C6 solid;
    background-color: white;
    color: #00A6C6
}


#healthContainer {
    display: flex;
    flex-direction: column;
    background-color: #00A6C6;
    color: white;
    justify-content: center;
}

#healthHeader {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
}

#healthText {
    width: 1100px;
    font-size: 15px;
    margin: 15px auto 40px;
}


#bookingContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #00A6C6;
}


#bookButton {
    width: 150px;
    background-color: #35AEC2;
    border-radius: 20px;
    text-align: center;
    padding: 5px 30px;
    color: white;
    border: 2px white solid;
    box-shadow: 0 0 3px gray;
    margin: 40px 0 0 120px;
}


#bookButton:hover {
    cursor: pointer;
}

#powered {
    width: 150px;
    font-size: 9px;
    margin: 5px 0 40px 145px;
}



#bottomContainer {
    display: flex;
    justify-content: space-between;
    
}

#contactInfo {
    margin-left: 110px;
    margin-top: 30px;
}
#contactInfo>div>img {
    position: relative;
    left: -7px;
}

#contactInfo>div>img:hover {
    cursor: pointer;
}

#address {
    margin-left: 20px;
}

#marker {
    position: relative;
    top: 23px;
    left: -20px;
}

#phoneMarker {
    position: relative;
    top: 23px;
    left: -20px;
}

#name {
    font-weight: bold;
}

#map {
    width: 300px;
    height: 200px;
    margin-right: 110px;
    margin-top: 40px;
}

#map:hover {
    cursor: pointer;
}

#globeMarker {
    position: relative;
    top: 23px;
    left: 110px
}

#lastQuestion{
    margin-left: 130px;
}


#copyright {
    margin-top: 40px;
    margin-left: 430px;
    font-size: 9px;
}

#privacy {
    margin-bottom: 20px;
    margin-left: 230px;
    font-size: 9px;
}