* {
    box-sizing: border-box;
    /* outline: 1px solid black; */
    
}

body {
    
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    
    
}

#homeContainer {
    background-color: #00A6C6;
    width: 100%;
    
}

#home {
    width: 1140px;
    text-align: end;
    background-color: #00A6C6;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    padding: 4px;
    
}

#home>span {
    margin-left: 7px;
    margin-right: 7px;
}

#logoStretchContainer {
    background-color: #424244;
    width: 100%;
    
}
#logoContainer {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: white;
    
}

#logo{
    margin: 5px;
}

#title {
    min-width: 700px;
    font-size: 40px;
    font-weight: normal;
    padding: 10px 0 0 15px;
    
}

#buttons {
    display: flex;
    flex-direction: column;
    margin: 3px 0 0 40px;
    
}

#patient {
    border-radius: 20px;
    background-color: inherit;
    color: white;
    border: 2px solid white;
    font-size: 13px;
    margin-top: 5px;
    padding: 5px 10px 3px 5px;
}

#appointment {
    border-radius: 20px;
    background-color: red;
    color: white;
    border: 2px solid white;
    font-size: 13px;
    margin-top: 5px;
    padding: 5px 0 3px 5px;
}


#menuTabContainer {
    width: 100%;
    height: 50px;
    background-color: #72BE58;
    
}

#menuTab {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 1140px;
    height: 30px;
    font-size: 15px;
    font-weight: lighter;
    margin: auto;
    color: white;
    
}

#menuTab>div {
    margin: 5px 35px 0 0;
}

#mainImage {
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    
}

#imageText {
    position: absolute;
    max-width: 700px;
    color: #C60033;
    font-size: 55px;
    font-weight: bolder;
    text-shadow: 5px 5px 10px white, -5px -5px 10px white, 5px -5px 10px white, -5px 5px 10px white;
    top: 600px;
    left: 100px;
}